---
import { Image } from '@astrojs/image/components';
export interface Props {
  recommendation: {
    name: string;
    band: string;
    track: string;
    band_link: string;
    track_link: string;
    album: string;
    album_art: string;
    album_link: string;
  };
}

const { recommendation } = Astro.props;
---

<li class="recommendation">
  <figure class="recommendation-art">
    <a href={recommendation.album_link} target="_blank">
      <Image 
        src={recommendation.album_art} 
        alt={recommendation.album} 
        width="150px" 
        height="150px" 
        format="webp"
        quality={75}
        loading="eager"
      />
    </a>
  </figure>
  <div>
    <p>
      <strong>{recommendation.name}</strong> recommended <strong
        ><a href={recommendation.track_link} target="_blank">{recommendation.track}</a>
      </strong>
      by <strong><a href={recommendation.band_link} target="_blank">{recommendation.band}</a></strong>
    </p>
  </div>
</li>
